// PF DinText


@font-face {
	font-family: 'PF DinText Pro';
	src: url('../fonts/PFDinTextPro-Bold.eot');
	src: local('PF DinText Pro Bold'), local('PFDinTextPro-Bold'),
		url('../fonts/PFDinTextPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinTextPro-Bold.woff2') format('woff2'),
		url('../fonts/PFDinTextPro-Bold.woff') format('woff'),
		url('../fonts/PFDinTextPro-Bold.ttf') format('truetype'),
		url('../fonts/PFDinTextPro-Bold.svg#PFDinTextPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PF DinText Pro';
	src: url('../fonts/PFDinTextPro-Regular.eot');
	src: local('PF DinText Pro Regular'), local('PFDinTextPro-Regular'),
		url('../fonts/PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinTextPro-Regular.woff2') format('woff2'),
		url('../fonts/PFDinTextPro-Regular.woff') format('woff'),
		url('../fonts/PFDinTextPro-Regular.ttf') format('truetype'),
		url('../fonts/PFDinTextPro-Regular.svg#PFDinTextPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PF DinText Pro';
	src: url('../fonts/PFDinTextPro-Thin.eot');
	src: local('PF DinText Pro Thin  Regular'), local('PFDinTextPro-Thin'),
		url('../fonts/PFDinTextPro-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinTextPro-Thin.woff2') format('woff2'),
		url('../fonts/PFDinTextPro-Thin.woff') format('woff'),
		url('../fonts/PFDinTextPro-Thin.ttf') format('truetype'),
		url('../fonts/PFDinTextPro-Thin.svg#PFDinTextPro-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}





// PF DinDisplay

@font-face {
	font-family: 'PF DinDisplay';
	src: url('../fonts/PFDinDisplayPro-ExtraThin.eot');
	src: url('../fonts/PFDinDisplayPro-ExtraThin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinDisplayPro-ExtraThin.woff2') format('woff2'),
		url('../fonts/PFDinDisplayPro-ExtraThin.woff') format('woff'),
		url('../fonts/PFDinDisplayPro-ExtraThin.ttf') format('truetype'),
		url('../fonts/PFDinDisplayPro-ExtraThin.svg#PFDinDisplayPro-ExtraThin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'PF DinDisplay';
	src: url('../fonts/PFDinDisplayPro-Thin.eot');
	src: url('../fonts/PFDinDisplayPro-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinDisplayPro-Thin.woff2') format('woff2'),
		url('../fonts/PFDinDisplayPro-Thin.woff') format('woff'),
		url('../fonts/PFDinDisplayPro-Thin.ttf') format('truetype'),
		url('../fonts/PFDinDisplayPro-Thin.svg#PFDinDisplayPro-Thin') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PF DinDisplay';
	src: url('../fonts/PFDinDisplayPro-Medium.eot');
	src: url('../fonts/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinDisplayPro-Medium.woff2') format('woff2'),
		url('../fonts/PFDinDisplayPro-Medium.woff') format('woff'),
		url('../fonts/PFDinDisplayPro-Medium.ttf') format('truetype'),
		url('../fonts/PFDinDisplayPro-Medium.svg#PFDinDisplayPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PF DinDisplay';
	src: url('../fonts/PFDinDisplayPro-Regular.eot');
	src: url('../fonts/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinDisplayPro-Regular.woff2') format('woff2'),
		url('../fonts/PFDinDisplayPro-Regular.woff') format('woff'),
		url('../fonts/PFDinDisplayPro-Regular.ttf') format('truetype'),
		url('../fonts/PFDinDisplayPro-Regular.svg#PFDinDisplayPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}



