html,
body {
  font-family: $font-din;
  font-size: $browser-base-size;
  background-color: $color-mid-gray;
}

strong,
b {
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color:inherit;
  text-decoration: none;
  &:hover{
    color:inherit;
    text-decoration: none;
  }
  &:visited{
    color: inherit;
  }
}

a,
figure {
  //display: inline-block;
}

figcaption {
  margin: 10px 0 0 0;
  font-weight: 100;
  font-size: em(14);
  color: black;
}

figure {
  padding: 5px;
}

.container-fluid, .page__content .container{
  padding: 0;
  @media (min-width: 1024px) {
    padding: 0 15px;
  }
}